<nav class="navbar navbar-inverse"  id="navbar" >

            <div class="navbar-header">
                <a class="navbar-brand" href="/">Mongo Scraper</a>
            </div>
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/saved">Saved Articles</a></li>
                    <li><button type="button" class="btn btn-danger" id="scrape">Scrape Articles</button></li>
                </ul>
        
        </div>
    </nav>