body{
    font-family: 'Times New Roman', Times, serif;
}
.jumbotron {
    background-image: url("../images/Latinoamerica-news.jpg");
    background-size: cover;
    height:22em;

}
#title {
    font-weight: bold;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#btn {
    float: left;
}